:root {
  --primary: #69ae14;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/*Navigation*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  height: 8rem;
  line-height: 8rem;
}

nav.fix-nav {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  z-index: 999;
}
.nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 100%;

}

.wrapper .logo {
  height: 100%;
}

.wrapper .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper .nav-list {
  display: inline-flex;

}

.nav-list li i {
  color: var(--grey2);

}

.nav-list a {
  color: var(--black);
  font-size: 1.5rem;
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 300ms ease;
}
.nav-list a:hover {
  color: var(--primary);
}

.nav-list .drop-menu1,
.nav-list .drop-menu2 {

box-shadow: 0 0 2px rgba(0, 0, 0, .3);
width: 20rem;
top: 8.5rem;
line-height: 4.5rem;
position: absolute;
color: var(--white);
/*opacity: 0;
visibility: hidden;*/
transition: all 300ms ease;

}

.nav-list .drop-menu1 li a,
.nav-list .drop-menu2 li a {
  display: block;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 0 0 1.5rem;
  border-radius: 0;
  color: var(--grey2);


} 
.nav-list .drop-menu1 li a:hover {
  color: var(--primary);

}
.nav-list .drop-menu2 li a:hover {
  color: var(--primary);

}

.nav-list li:hover .drop-menu1,
.nav-list li:hover .drop-menu2,
.nav-list li:hover .mega-box {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}

.mega-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;;

}
.mega-box .content {
  padding: 2.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.mega-box .content .row {
  width: calc(25% - 3rem);
  line-height: 4.5rem;
}
.mega-box .content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mega-box .content .row header {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--grey1);

}

.mega-box .content .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, .05);
  margin-left: -4rem;

}

.mega-box .content li {
  padding: 0 2 rem;

}

.mega-box .content li a {
  padding: 0 2rem;
  display: block;
  font-size: 1.5rem;
  color: var(--grey2);
}

.mega-box .content li a:hover {
  color: var(--primary);
}

.nav-list .mobile-item {
  display: none;
}

.nav-list input {
  display: none;

}

.wrapper .btn {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}