:root {
  --primary: #69ae14;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/*Navigation*/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: var(--white);
  height: 8rem;
  line-height: 8rem;
}

nav.fix-nav {
  width: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
  z-index: 999;
}
nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 100%;

}

.wrapper .logo {
  height: 100%;
}

.wrapper .logo a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper .nav-list {
  display: inline-flex;

}

.nav-list li i {
  color: var(--grey2);

}

.nav-list a {
  color: var(--black);
  font-size: 1.5rem;
  padding: 0.9rem 1.5rem;
  border-radius: 0.5rem;
  transition: all 300ms ease;
}
.nav-list a:hover {
  color: var(--primary);
}

.nav-list .drop-menu1,
.nav-list .drop-menu2 {

box-shadow: 0 0 2px rgba(0, 0, 0, .3);
width: 20rem;
top: 8.5rem;
line-height: 4.5rem;
position: absolute;
background-color: var(--white);
opacity: 0;
visibility: hidden;
transition: all 300ms ease;

}

.nav-list .drop-menu1 li a,
.nav-list .drop-menu2 li a {
  display: block;
  font-size: 1.5rem;
  width: 100%;
  padding: 0 0 0 1.5rem;
  border-radius: 0;
  color: var(--grey2);


} 
.nav-list .drop-menu1 li a:hover {
  color: var(--primary);

}
.nav-list .drop-menu2 li a:hover {
  color: var(--primary);

}

.nav-list li:hover .drop-menu1,
.nav-list li:hover .drop-menu2,
.nav-list li:hover .mega-box {
  opacity: 1;
  visibility: visible;
  top: 6.5rem;
}

.mega-box {
  box-shadow: 0 0 2px rgba(0, 0, 0, .1);
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  padding: 0 3rem;
  background-color: var(--white);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms ease;;

}
.mega-box .content {
  padding: 2.5rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-between;

}
.mega-box .content .row {
  width: calc(25% - 3rem);
  line-height: 4.5rem;
}
.content .row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
 .content .row header {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--grey1);

}

 .content .row .mega-links {
  border-left: 1px solid rgba(255, 255, 255, .09);
  margin-left: -4rem;

}

 .content .row li {
  padding: 0 2 rem;

}

 .content .row li a {
  padding: 0 2rem;
  display: block;
  font-size: 1.5rem;
  color: var(--grey2);
}

.mega-box .content li a:hover {
  color: var(--primary);
}

.nav-list .mobile-item {
  display: none;
}

.nav-list input {
  display: none;

}

.wrapper .btn {
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.nav-list .icons span {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  position: relative;

}

.nav-list .icons a {
  padding: 0;
  display: inline-block;

}

.nav-list .icons .count {
  justify-content: center;
  position: absolute;
  top: 0.8rem;
  right: -0.8rem;
  background-color: var(--primary);
  height: 2rem;
  padding: 0.5rem;
  color: var(--white);
  font-weight: 700;
  border: 50%;

}

@media (max-width: 968px) {
  .wrapper .nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    max-width: 35rem;
    background-color: var(--white);
    overflow-y: auto;
    display: block;
    line-height: 5rem;
    box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, .1);
    transition: all 300ms linear;
  }

  .wrapper .nav-list.show {
    left: 0;

  }

  .nav-list li {
    margin: 1.5rem 1rem;
  }

  .nav-list a {
    display: block;
    font-size: 1.8rem;
    padding: 0 2rem;
    color: var(--black)
    
  }

  .nav-list .drop-menu1,
  .nav-list .drop-menu2 {
    position: static;
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
    padding-left: 2rem;
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }

  #showdrop1:checked ~ .drop-menu1,
  #showdrop2:checked ~ .drop-menu2,
  #showMega:checked ~ .mega-box {
    max-height: 100%;
  }

  .nav-list .drop-menu1 li,
  .nav-list .drop-menu2 li {
    margin: 0;
  }

  .nav-list .drop-menu1 li a, 
  .nav-list .drop-menu2 li a {
    color: var(--grey2);
    font-size: 1.5rem;
    
  }

  .nav-list .desktop-item {
    display: none;
  }
  .nav-list .mobile-item {
    display: block;
    font-size: 1.8rem;
    padding-left: 2rem;
    color: var(--black);
    cursor: pointer;
    border-radius: .5rem;

  }
  .nav-list .mobile-item:hover {
    color: var(--primary);
  }

  .mega-box {
    position: static;
    top: 6.5rem;
    padding: 0 2rem;
    opacity: 1;
    visibility: visible;
    max-height: 0;
    overflow: hidden;
    transition: all 300ms ease;
  }
  .mega-box .content {
    flex-direction: column;
    padding: 2rem 2rem 0 2rem;
  }
  .mega-box .content .row {
    width: 100%;
    border-top: 1px solid;
    margin-bottom: 1.5rem;
  }
.content .row:nth-child(1),
.content .row:nth-child(2) {
  border-top: 0;
}
.content .row .mega-links {
  border-left: 0;
  padding: 2rem;
}
.content .row .mega-links {
  margin: 0;
}

.wrapper .btn {
  display: block;
  color: var(--black);
}

.nav-list .top{
  position: relative;
  display: block;
  background-color: var(--primary);
  width: 100%;
  height: 8rem;

}

.nav-list .close-btn {
  position: absolute;
  top: 1.5rem;
  right: 2.5rem;
  color: var(--white);

}
.nav-list .icons {
  padding-left: 2rem;


}
}  

/*Swiper Main/Hero Section*/

.hero {
  height: 100vh;
  position: relative;
  overflow: hidden;

}

.swiper-container, 
.hero .row {
  width: 100%;
  height: 100%;
}

.hero .row {
  position: relative;
}

.hero .row img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.hero .row .content {
  position: absolute;
  top: 50%;
  left: 80px;
  transform: translateY(-50%);


}

.hero .row .content h1 {
  line-height: 1.2;
  font-size: 5rem;
  font-weight: 700;


}

.hero .row .content span {
  color: var(--primary);
}

.hero .row .content p {
  margin: 1rem 0 1rem;
  width: 70%;

}

.hero .row .content a {
  display: inline-block;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 5px;
  padding: 1rem 2.5rem;
  margin-top: 2rem;
}

.swiper-slide-active .content h1{
  animation: movebottom 1s ease-in-out;
}
.swiper-slide-active .content a{
  animation: movetop 1s ease-in-out;
}
.swiper-slide-active .content p{
  animation: moveleft 1s ease-in-out;
}

@keyframes movebottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes movetop {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes moveleft {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

/*NAV Arrows*/

.hero .arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.hero:hover .arrows {
  visibility: visible;
  opacity: 1;
}

.arrows .swiper-prev,
.arrows .swiper-next {
  position: absolute;
  padding: 0.5rem 0.7rem;
  background-color: var(--primary);
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;

}

.arrows .swiper-prev {
  left: 20px;
}

.arrows .swiper-next {
  right: 20px;
}

@media (max-width:657px) {
  .hero .row .content {
    left: 20px;
  }

  .hero .row .content h1 {
    font-size: 3rem;
  }

  .hero .row .content p {
    width: 80%;

  }
}

/*SHOP COLLECTION*/

.section {
  padding: 10rem 0 5rem 0;
  overflow: hidden;

}

.section .title {
  text-align: center;
  margin-bottom: 5rem;
}

.section .title h2{
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;

}

.section .title span {
  color: var(--grey2);
}

.collection-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;

}

.collection-item {
  position: relative;
  overflow: hidden;
  z-index: 0;
}


.collection-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.collection-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
  z-index: 3;
}

.collection-content h3{
  background-color: var(--primary);
  color: white;
  border-radius: 5rem;
  padding: .7rem 1.4rem;
  font-size: 1.7rem;
  font-weight: inherit;
  margin-bottom: 1rem;
  transition: all 300ms ease-in-out;
}

.collection-content a {
  transition: all 300ms ease-in-out;
  font-size: 1.4rem;
  
}

.collection-content a:hover {
  color:var(--primary);
}

.collection-item:hover .collection-content h3 {
  background-color: var(--white);
  color: var(--black);
}

.collection-item:hover img {
  transform: scale(1.2);

}

.collection-item::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.collection-item:hover::after {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1200px) {
  .collection-content h3{
    font-size: 1.6rem;
    
  }
}

@media (max-width: 996px) {
  .collection-layout {
    grid-template-columns: repeat(2, 1fr);

  }
}

@media (max-width: 768px) {
  .collection-layout{
    grid-template-columns: 1fr;

  }
}